<header>
    <nav class="navigation">
      <ul class="navItems">
        <li class="navItem">Home</li>
        <li class="navItem">Portfolio</li>
        <li class="navItem">About</li>
      </ul>
    </nav>
</header>
