<%- includes head.ejs %>
</head>
<body>
  <header class="navigationMenu">
    <ul class="navItems">
      <li class="navItem">Home</li>
      <li class="navItem">Portfolio</li>
      <li class="navItem">About</li>
    </ul>
  </header>
</body>
