<%- include('./includes/head.ejs') %>

</head>
  <body>
    <%- include('./includes/navigation.ejs') %>
      <main class="main-container">
        <h1 class="main-heading">TESTING LMAO</h1>
      </main>
  </body>