<footer>
  <nav class="footerNav">
    <ul>
      <a href="https://github.com/Dragan-Kolev" class="listItem">GitHub</a>
      <a href="https://www.upwork.com/freelancers/~01110a4d55ae437602" class="listItem">Upwork</a>
      <a href="#" class="listItem">LinkedIn</a>
    </ul>
  </nav>
</footer>