<footer>
  <nav class="footerNav">
    <ul>
      <a href="#" class="listItem">GitHub</a>
      <a href="#" class="listItem">Upwork</a>
      <a href="#" class="listItem">LinkedIn</a>
    </ul>
  </nav>
</footer>