<header>
    <nav class="navigation">
      <ul class="navItems">
        <a href="#" class="navItem">Home</a>
        <a href="#" class="navItem">Portfolio</a>
        <a href="#" class="navItem">Contact</a>
      </ul>
    </nav>
</header>
