<header>
    <nav class="navigation">
      <ul class="navItems">
        <a href="/" class="navItem">Home</a>
        <a href="/portfolio" class="navItem">Portfolio</a>
        <a href="/contact" class="navItem">Contact</a>
      </ul>
    </nav>
</header>
