<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="/css/contact.css.map">
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <main class="main-container">
    <h2 class="main-heading">Drop me a message</h2>
    <div class="svg-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
    </div>
    <form class="contact-form">
      <label for="name">Name</label>
      <input type="text">
      <label for="email">E-mail</label>
      <input type="text">
      <label for="message">Message</label>
      <textarea name="message" cols="30" rows="10"></textarea>
      <a class="btn" href="/message">Send</a>
    </form>
    <div class="svg-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,1 95,25 95,75 50,99 5,75 5,25" fill="transparent" stroke="none"/>
      </svg>
    </div>
  </main>
  <%- include('./includes/foot.ejs') %>
</body>